html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.o{
  padding:09px;

  border-radius:130px;

  color:aqua;
        background-image:url('https://cdn.dribbble.com/users/319473/screenshots/4111136/reinvently_insights_3.0.gif');
  background-size:183px,183px;
         border: 5px solid white;
     font-size:24px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {background-size:313px,313px;}
}
.o2{
  padding:0px;

  border-radius:30px;

  color:aqua;
        background-image:url('https://cdn.dribbble.com/users/319473/screenshots/4111136/reinvently_insights_3.0.gif');
  background-size:183px,183px;
         border: 5px solid white;
     font-size:24px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {background-size:313px,313px;}
}
.o3{
  padding:20px;

  border-radius:230px;

  color:aqua;
        background-image:url('p.png');
  background-size:cover;
         border: 5px solid white;
     font-size:24px;
 
}
.o4{
  padding:20px;

  border-radius:230px;

  color:aqua;
        background-image:url('f.png');
  background-size:cover;
         border: 5px solid white;
     font-size:24px;
 
}
